
.hamburger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  cursor: pointer;
  padding: 0;
  border: none;
  top: 18px;
  left: 10px;
  width: 40px;
  height: 26px;
  background: transparent;
  z-index: 2;
}

.hamburger-menu span {
  width: 35px;
  border-radius: 3px;
  height: 5px;
  background: #303030;
}

.regular-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  box-shadow: none;
  justify-content: space-around;
  background-color: transparent;
  background: #fff;
}

.logo {
  margin-bottom: 40px;
}
.navbar {
  display: none;
}
.navbar.-active {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 14px;
  list-style: none;
}

.navbar a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: 998px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 0 5px 5px #eeeeee;
  }
  .hamburger-menu {
    display: none;
  }
  .regular-menu {
    background-color: #fff;
    width: 100%;
    justify-content: space-around;
    padding: 0;
    flex-direction: row;
    position: static;
    align-items: center;
  }

  .logo {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .navbar {
    flex-direction: row;
  }
}

@media (min-width: 1280px) {
    .header {
      max-width: 1280px;
      position: relative;
      margin: 0 auto;
    }
  }
